<!doctype html>
<html lang="en">

<head>
    <title>ThoughtWorks SpeedBack Tool</title>
    <style>
  #btm {
    position: fixed;
    bottom: 0;
  }
</style>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="./app.css">
</head>

<body ng-app="FixtureApp" ng-cloak>

    <div ng-controller="MainCtrl" class="container" layout="column" ng-cloak>

        <md-content class="md-padding" layout="column">
            
            <h1 class="md-display-1">ProGrad - TW SpeedBack Tool</h1>

            <h2 class="md-title">Add a person</h2>
            <md-chips ng-model="names" class="person"></md-chips>
            <br>

            <div layout="row" layout-xs="column">
                <div flex>
                    Total persons: {{names.length}}
                    <br>Time for each round in minutes:
                    <br>
                    <input ng-model="roundtime" ng-init="roundtime=10" type="number">
                </div>
                <div flex>
                    <br>Total rounds: {{combos.length}}
                    <br>Total time: {{ (roundtime * combos.length) }} minutes
                </div>
            </div>

            <br>
            <div ng-repeat="rounds in combos" class="round">
                <strong>Round {{$index+1}}</strong>
                <div class="timer">
                    <div id="countdown-{{$index+1}}" class="countdown">
                        <div id="countdown-number" class="countdown-number">
                            <span id='min-{{$index+1}}'>00</span>
                        </div>
                        <span id='sec-{{$index+1}}' class="seconds">00</span>
                        <svg>
                            <circle r="18" cx="20" cy="20"></circle>
                        </svg>
                    </div>
                    <div class="buttons">
                        <div id="start-{{$index+1}}" data-element-id="{{$index+1}}" onclick='start(this)' class="button start">Start</div>
                        <div id="reset-{{$index+1}}" data-element-id="{{$index+1}}" onclick='reset(this)' class="button reset disabled">Reset</div>
                    </div>
                </div>
                <div ng-repeat="pair in rounds">
                    <span>{{ pair[0] + ' -' }}</span>
                    <span>{{ pair[1] || '(Timekeeper)' }}</span>
                </div>
            </div>
        </md-content>

    </div>
    <center><footer id ="btm">Crafted By <a href="www.akarshagrawal.com">Akarsh Agrawal</a><br>P.S. I know the Timer animation is buggy, will fix that soon.</footer></center>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
